<%- include("./partials/head.ejs") %>
<link rel="stylesheet" href="/css/homepage.css">
<%- include("./partials/header.ejs") %>
<div class="homeQuote">
    <h1><%= quote.quote  %></h1>
    <h2><%= quote.origin %></h2>
</div>
<%- include("./partials/footer.ejs") %>